@red:  #c60b35;

* {-webkit-font-smoothing: antialiased;}

body{
  line-height: initial;
}

.global-wrapper{
  height: 100vh;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,ef8002+100 */
  background: #cc0000; /* Old browsers */
  background: -moz-linear-gradient(top, #cc0000 0%, #ef8002 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cc0000 0%,#ef8002 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cc0000 0%,#ef8002 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ef8002',GradientType=0 ); /* IE6-9 */
}
.wrapper{
  height: 100vh;
  width: 100%;
}

.hour,.date{
  display: block;
  margin: 0 auto;
}

.block-time{
  font-weight: 300;
  position: relative;
  color: white;
  padding-right: 25px;
  text-align: center;
  &:after{
    content: '';
    position: absolute;
    width: 1px;
    border-radius: 2px;
    height: 80%;
    left: 100%;
    top: 50%;
    transform: translate(0,-45%);
    background-color: white;
  }
}

.block-time-temp{
  display: flex;
  justify-content: center;
}

.hour{
  font-size: 128px;
}
.date{
  font-size: 32px;
}

.block-temperature,.block-time{
  display: inline-block;
}

.temp{
  font-size: 40px;
  color: white;
  margin-top: 35px;
}

#icon-temp{
  height: 70px;
  display: block;
  margin: 0 auto;
  margin-top: 30px ;
}

.block-temperature{
  margin-left: 25px;
}
.block-button{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.button-home {
  position: relative;
  width: 365px;
  padding: 15px 40px;
  background-color: white;
  color: @red;
  font-size: 30px;
  border-radius: 100px;
  text-align: center;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }
}

.icon-button-home{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  height: 45px;
}

.block-home{
  width: 100%;
}
.block-return{
  width: 100%;
  display: flex;
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-right: 20px;
}
.block-arbo{
  padding: 20px;
}

.icon-return{
  margin-right: 15px;
}

.title-arbo{
  color: white;
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 41px;
}

.block-choice{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.problem{
  width: 230px;
  height: 230px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  transform: scale(0.1);
  transition: all ease 0.3s;
  opacity: 0;
  &.active{
    transform: scale(1);
    opacity: 1;
  }
}

.cadre-icon-pb{
  width: 230px;
  height: 160px;
  padding: 25px;
  position: relative;
}
.icon-pb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 120px;
}
.text-u-pb{
  color: @red;
  text-align: center;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: 34px;
  left: 50%;
  transform: translate(-50%,0);
  width: 90%;
}

.path-arbo{
  display: flex;
  color: white;
  font-size: 30px;
  font-weight: 300;
}
.block-frw{
  padding-left: 20px;
  border-left: 2px solid white;
}

.select-bar{
  width: 600px;
  font-size: 28px;
  padding: 8px 0;
  border: 2px solid white;
  color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding-right: 65px;
  position: relative;

  &.active {
    background-color: rgba(255, 255, 255, 0.1);
    & .down-box-select{
      max-height: 1000px;
      box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.16);
    }
  }
}

.block-select{
  margin-top: 20px;
}
.cadre-icon-sb{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  border-left: 2px solid white
}
.icon-sb{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.down-box-select{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  border-radius: 0px 0px 10px 10px;
  transition: all ease 0.3s;
  max-height: 0;
  overflow: hidden;
}
.select{
  color: white;
  font-size: 27px;
  margin: 6px;
  padding: 10px 0;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    border-radius: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
  }
  &:last-child{
    &:after{
      background-color: transparent;
    }
  }
}
.form-ticket{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
#text-ticket{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  resize: none;
  width: 100%;
  max-width: 850px;
  height: 200px;
  padding: 20px;
  font-size: 23px;
  margin: 0 auto;
  display: block;
  &::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.65);
  }
  &:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
  }
}

#send-ticket{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: white;
  color: @red;
  font-weight: bold;
  font-size: 35px;
  padding: 8px 60px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.tab{
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.info-tab{
  background-color: white;
  color: @red;
  padding: 8px;
  display: inline-block;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
}
.info-50{
  width: 49%;
}
.info-25{
  width: 25%;
}

.block-data{
  width: 100%;
  margin-top: 40px;
}

.data{
  display: inline-block;
  color: white;
  font-size: 28px;
  text-align: center;
}

.button-details{
  background-color: white;
  color: @red;
  border-radius: 10px;
  padding: 12px 0;
  &:hover{
    background-color: rgba(255,255,255,0.8);
  }
}
